@model Maetsilor.Models.MatchMakingViewModel.ChatMessage

@{
    ViewData["Title"] = "ChatReply";
}
<h2>Chat</h2>
<div>
    <a asp-action="Chat" asp-route-id="@ViewData["GroupId"]">@Resource.Back</a>
</div>
<form asp-action="ChatReply" asp-route-id="@ViewData["GroupId"]">
    <div class="form-horizontal">
        
        <hr />
        
        <div class="form-group">
            <label asp-for="Message" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Message" class="form-control" />
                <span asp-validation-for="Message" class="text-danger" />
            </div>
            <div class="col-md-10" style="visibility:hidden">
                <input asp-for="GroupID" value="@ViewData["GroupId"]" class="form-control" />
                <span asp-validation-for="GroupID" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="@Resource.Send" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
