@model Maetsilor.Models.MatchMakingViewModel.Group

@{
    ViewData["Title"] = "Details";
}

<h2>
    @Html.DisplayFor(model => model.Nom)
    (@Html.DisplayFor(model => model.TypeDePartie),
    @Html.DisplayFor(model => model.MinDeJoueur)-
    @Html.DisplayFor(model => model.MaxDeJoueur))
</h2>

<div>
    <h4>@Html.DisplayFor(model => model.Description)</h4>
    <hr />
</div>
<div>
    <ul>
        @if (Model.MaitreDuJeu == User.Identity.Name)
        {
            <li>@Html.ActionLink("Edit", "Edit", new { id = Model.ID })</li>
        }

        <li>@Html.ActionLink(Resource.Members, "IndexMembre", new { id = Model.ID })</li>
        <li>@Html.ActionLink(Resource.Requests, "IndexDemandes", new { id = Model.ID })</li>
        <li>@Html.ActionLink("Chat", "Chat", new { id = Model.ID })</li>
        <li>@Html.ActionLink(Resource.Schedule, "IndexCalendrier", new { id = Model.ID })</li>
        <li><a asp-action="IndexUserGroups"> @Resource.Back</a></li>
    </ul>
</div>
