@model IEnumerable<Maetsilor.Models.Membre>

@{
    ViewData["Title"] = "IndexMembre";
}

<h2>@Resource.Members</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @if (User.Identity.Name == ViewData["GroupMaster"].ToString() && User.Identity.Name != item.Email)
                    {
                        <form asp-action="KickMember" asp-route-id="@ViewData["GroupId"]" asp-route-memberId="@item.ID">
                            <div class="form-actions no-color">
                                <input type="submit" value="@Resource.Kick" class="btn btn-default" /> 
                            </div>
                        </form>
                    }
                </td>
            </tr>
        }
        @Html.ActionLink(@Resource.Back, "Details", new { id = ViewData["GroupId"] })
    </tbody>
</table>
