@model IEnumerable<Maetsilor.Models.MatchMakingViewModel.Group>

@{
    ViewData["Title"] = "IndexUserGroups";
}

<h2>@Resource.MyGroups</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Resource.Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Resource.TypeOfGame
            </th>
            <th>
                @Resource.MaxPlayer
            </th>
            <th>
                @Resource.MinPlayer
            </th>
            <th>
                @Resource.GameMaster
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.ActionLink(item.Nom, "Details", new { id = item.ID }) ;
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeDePartie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxDeJoueur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MinDeJoueur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaitreDuJeu)
            </td>
            <td>
                @Html.ActionLink(@Resource.Delete, "Delete", new { id=item.ID})
            </td>
        </tr>
}
    </tbody>
</table>
