@model IEnumerable<Maetsilor.Models.MatchMakingViewModel.Partie>

@{
    ViewData["Title"] = "IndexCalendrier";
}

<h2>Calendrier</h2>
<div>
    <a asp-action="Details" asp-route-id="@ViewData["GroupId"]">@Resource.Back</a>
</div>
<p>
     <a asp-action="CreatePartie" asp-route-id="@ViewData["GroupID"]">@Resource.ScheduleNewGame</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @if (ViewData["GroupMaster"].ToString() == User.Identity.Name)
                    {
                        <form asp-action="CancelPartie" asp-route-id="@ViewData["GroupID"]" asp-route-partieId="@item.ID">
                            <div class="form-actions no-color">
                                <input type="submit" value="@Resource.Cancel" class="btn btn-default" /> 
                            </div>
                        </form>
                    }

                </td>
            </tr>
        }
    </tbody>
</table>
