@model IEnumerable<Maetsilor.Models.MatchMakingViewModel.Group>

@{
    ViewData["Title"] = "Index";
    List<int> userGroups = ViewData["UserGroups"] as List<int>;
}

<h2>Index</h2>

<p>
    <a asp-action="Create">@Resource.CreateGroup</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Resource.Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Resource.TypeOfGame
            </th>
            <th>
                @Resource.MaxPlayer
            </th>
            <th>
                @Resource.MinPlayer
            </th>
            <th>
                @Resource.GameMaster
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TypeDePartie)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaxDeJoueur)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MinDeJoueur)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MaitreDuJeu)
                </td>

                <td>
                    @if(!userGroups.Contains(item.ID))
                    {
                    <form asp-action="Join">
                        <div class="form-actions no-color">
                            <input type="submit" value="@Resource.Join" class="btn btn-default" />
                        </div>
                    </form>
                    }
                    @if (User.IsInRole("Moderateur"))
                    {
                        @Html.ActionLink(@Resource.Delete, "Delete", new { id = item.ID })
                    }
                </td>

            </tr>
        }
    </tbody>
</table>
