@model IEnumerable<Maetsilor.Models.ForumViewModels.Message>

@{
    ViewData["Title"] = "Sujets";
}

<h2>Details</h2>

@*<p>
    <a asp-action="Create">Create New</a> Faut changer de controlleur ici je pense. 
</p>*@

<table class="table">
    <thead>
        <tr>      
            <th>
                @Html.DisplayNameFor(model => model.Auteur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Texte)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Auteur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Texte)
            </td>
            <td>
                @if (User.IsInRole("Modérateur"))
                {
                @Html.ActionLink("Edit", "Edit", new { id=item.ID  }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID});

                }
               
            </td>
        </tr>
}
    </tbody>
</table>
